.IIROSE_MEDIA_CONTAINER {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90000;
  transition: transform 0.25s ease-in-out;
  transform-origin: right;
  transform: translateX(100%);

  * {
    transition: all 0.5s ease-in-out;
  }

  #IIROSE_MEDIA {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .IIroseMainNavigationBar {
      display: flex;
      flex-wrap: wrap;
      min-height: 40px;
      background-color: transparent;
      justify-content: space-between;

      .LeftComponent,
      .RightComponent {
        display: flex;

        .NavBarButtonIcon {
          font-size: 24px;
          padding-left: 10px;
          margin-right: 20px;
          cursor: pointer;
        }

        .NavBarButtonIcon::before {
          font-family: "md";
        }

        #BackIcon::before {
          content: "\F0141";
        }

        #TitleIcon {
          margin-right: 20px;
        }

        #TitleIcon::before {
          content: "\F0025";
        }

        #SettingIcon::before {
          content: "\F0493";
        }

        #MusicIcon::before {
          content: "\F075A";
        }

        #VideoIcon::before {
          content: "\F0381";
        }
      }

      .NavBarButton,
      .NavBarTitle {
        padding: 0 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 24px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        transition: opacity 0.3s ease-in-out;

        .NavBarButtonText {
          font-size: 14px;
          transition: all 0.5s ease-in-out;
        }
      }

      .NavBarButton {
        background-color: rgba(255, 255, 255, 0.2);
        transition: all 0.5s ease-in-out;
      }

      .NavBarButton:hover {
        opacity: 0.7;
      }

      .NavBarButtonActive {
        background-color: rgba(0, 0, 0, 0.5);
      }

      #NavBarTitle {
        cursor: auto;
        background-color: rgba(255, 255, 255, 0.2);
        font-size: 16px;
        color: #fff;
      }
    }

    .MediaContainerWrapper {
      overflow: hidden;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .MediaContainer {
        background-color: rgba(224, 224, 224, 0.8);
        height: 100%;
        width: 100%;
        transition: all 0.25s ease-in-out;
        display: flex;
        flex-direction: column;
        position: absolute;

        .MediaContainerController {
          display: flex;
          flex-direction: column;
          .PlatformSelector {
            display: flex;
            padding: 0 20px;
            animation:
              fadeIn 0.25s ease-out,
              expandHeight 0.25s ease-in-out;

            .PlatformButtonWrapper {
              display: flex;
              align-items: center;
              background-color: rgba(255, 255, 255, 0.2);
              height: 40px;
              animation: fadeIn 0.25s ease-out;
              .PlatformButton {
                display: flex;
                align-items: center;
                color: #fff;
                cursor: pointer;

                height: 100%;
                padding: 0 10px;

                &:hover {
                  opacity: 0.7;
                }
                .PlatformIcon {
                  width: 32px;
                  height: 32px;
                }

                .PlatformTitle {
                  margin: 0 10px;
                }
              }

              .goFavoriteIcon {
                display: flex;
                align-items: center;

                font-size: 24px;
                color: white;
                transition: all 0.5s ease-in-out;
                font-family: "md";

                padding: 0 10px;
                height: 100%;

                cursor: pointer;
                &:hover {
                  opacity: 0.7;
                }
              }
              .goFavoriteIcon::before {
                content: "\F1287";
              }
            }

            .PlatformButtonWrapperActive {
              background-color: rgba(0, 0, 0, 0.5);
            }
          }

          .MediaContainerSubNavBar {
            display: flex;
            flex-wrap: wrap;
            color: #fff;
            animation:
              fadeIn 0.25s ease-out,
              expandHeight 0.25s ease-in-out;

            .SubNavBarItem {
              display: flex;
              align-items: center;
              height: 30px;
              padding: 0 20px;
              background-color: rgba(0, 0, 0, 0.3);
              animation: fadeIn 0.25s ease-out;
              cursor: pointer;
              transition: all 0.5s ease-in-out;
            }

            .SubNavBarItem:hover {
              opacity: 0.7;
            }

            .subNavBarItemActive {
              background-color: rgba(0, 0, 0, 0.7);
            }
          }

          .MediaSearchBar {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap;
            animation: fadeIn 0.25s ease-out;

            .inputWrapper,
            .paginationWrapper,
            .controllerWrapper {
              display: flex;
              align-items: center;
              color: #fff;
              cursor: pointer;
              height: 100%;
              transition: all 0.25s ease-in-out;
            }

            .inputWrapper {
              max-width: 460px;

              .inputIcon::before {
                content: "\F0349";
                font-family: "md";
              }

              .inputIcon {
                font-size: 24px;
                margin-right: 22px;
              }

              .mediaSearchBarInput {
                font-weight: bold;
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: pre;
              }

              &:hover {
                opacity: 0.7;
              }
            }

            .paginationWrapper {
              margin: 0 24px;

              .paginationIcon::before {
                content: "\F14F7";
                font-family: "md";
              }

              .paginationIcon {
                font-size: 24px;
              }

              .pagination {
                margin-left: 22px;
                font-size: 14px;
              }

              &:hover {
                opacity: 0.7;
              }
            }

            .controllerWrapper {
              .returnButtonWrapper,
              .prevButtonWrapper,
              .nextButtonWrapper {
                background-color: rgba(0, 0, 0, 0.5);
                display: flex;
                align-items: center;

                .returnIcon,
                .prevIcon,
                .nextIcon {
                  font-family: "md";
                  font-size: 24px;
                }

                .returnIcon::before {
                  content: "\F17A7";
                }

                .prevIcon::before {
                  content: "\F0141";
                }

                .nextIcon::before {
                  content: "\F0142";
                }
              }

              .prevButtonWrapper {
                background-color: rgba(255, 255, 255, 0.2);
              }

              .PaginationControllerButtonWrapper {
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0 20px;
                transition: all 0.5s ease-in-out;

                .PaginationControllerButton {
                  font-weight: bold;
                  margin-left: 22px;
                }

                &:hover {
                  opacity: 0.7;
                }
              }
            }
          }
        }

        .MediaCardContainer {
          position: relative;
          display: grid;
          align-content: space-between;
          grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
          grid-gap: 12px;
          overflow-y: auto;
          overflow-x: auto;
          box-sizing: border-box;
          padding: 12px;
          transition: all 0.25s ease-in-out;

          .MediaCardMessageWrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            transition: all 0.25s ease-in-out;
            animation: fadeIn 0.25s ease-out;

            .containerSpin {
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              width: 100%;
              height: 100%;
              font-size: 100px;
            }

            .containerSpin::before {
              content: "\F0772";
              font: normal normal normal 24px / 1 "md";
              font-size: inherit;
              animation: spin 2s linear infinite;
            }

            .searchLogo,
            .noresultLogo {
              font-size: 200px;
              display: flex;
            }

            .searchLogo::before {
              content: "\F1A7E";
              font-family: "md";
            }

            .noresultLogo::before {
              content: "\F0413";
              font-family: "md";
            }

            .message {
              margin-top: 24px;
              line-height: 31px;
              font-size: 24px;
              font-weight: bold;
            }
          }

          .MediaCard {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.5);
            margin: 12px;
            transition: all 0.5s ease-in-out;
            position: relative;
            animation: fadeIn 0.25s ease-out;
            // max-height: 520px;
            /* 添加外边距，控制项目之间的间距 */

            .MediaCardImgCover {
              display: flex;
              position: relative;
              height: 100%;
              width: 100%;
              transition: none;
              aspect-ratio: 1 / 1; /* 高度和宽度的比例为 1:1 */

              .MediaCardImg {
                object-fit: contain;
                object-position: center;
                width: 100%;
                height: 100%;
                overflow: hidden;
                aspect-ratio: 1 / 1;
              }

              .MediaCardDuration {
                position: absolute;
                color: #fff;
                text-shadow:
                  1px 0 #000,
                  -1px 0 #000,
                  0 1px #000,
                  0 -1px #000;
                bottom: 24px;
                right: 24px;
                left: 24px;
                text-align: right;
                font-weight: bold;
              }
            }

            .collectIcomWrapper {
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              bottom: 15px;
              right: 18px;
              border-radius: 18px 0 0 18px;
              background-color: rgba(0, 0, 0, 0.05);
              transition: all 0.5s ease-in-out;

              .collectText {
                font-size: 14px;
                color: #757575;
                font-weight: bold;
                margin: 0 10px;
              }

              .addFavoriteIcon {
                margin-left: 10px;
                font-size: 25px;
                color: #757575;
                transition: all 0.5s ease-in-out;
              }

              .addedFavoriteIcon {
                font-size: 25px;
                margin-left: 10px;
                color: #ff5600;
                cursor: pointer;
                transition: all 0.5s ease-in-out;
              }

              .addedFavoriteIcon::before {
                content: "\F02D1";
                font-family: "md";
              }

              .addFavoriteIcon::before {
                content: "\F02D1";
                font-family: "md";
              }

              // .collectIcon:hover {
              //   opacity: .7;
              //   color: #ff5600;
              // }
              // .collectedIcon:hover {
              //   opacity: .7;
              //   color: #757575;
              // }
            }

            .collectIcomWrapper:hover {
              background-color: rgba(0, 0, 0, 0.1);
            }

            .MediaCardInfoContainer {
              padding: 24px;
              color: rgba(0, 0, 0, 0.75);
              position: relative;

              .MediaCardInfoTitleWrapper {
                position: relative;
                font-weight: bold;
                line-height: 25px;
                .MediaCardInfoTitle {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: pre;
                  font-size: 17px;
                  margin-bottom: 24px;
                }

                .MediaCardInfoSubTitle {
                  position: absolute;
                  top: 100%;
                  left: 0;
                  font-size: 11px;
                  max-width: 80%;
                  overflow: hidden;
                  white-space: pre;
                  text-overflow: ellipsis;
                  color: rgba(0, 0, 0, 0.5);
                }
              }

              .MediaCardInfoAuthor {
                overflow: hidden;
                font-weight: bold;
                text-overflow: ellipsis;
                white-space: pre;
              }
            }

            .MediaCardButtonContainer {
              border-top: 1px solid rgba(0, 0, 0, 0.1);
              color: black;
              display: flex;
              justify-content: center;
              line-height: 88px;
              font-size: 20px;
              cursor: pointer;

              .MediaCardPlayButtonIcon,
              .MediaCardPickButtonIcon {
                font-size: 28px;
              }

              .MediaCardPlayButtonText {
                font-weight: bold;
                margin-left: 22px;
              }

              .MediaCardPlayButtonText,
              .MediaCardPlayButtonIcon,
              .MediaCardPickButtonIcon {
                transition: all 0.5s ease-in-out;
              }

              .MediaCardPlayButtonIcon::before {
                content: "\F02CB";
                font-family: "md";
              }

              .MediaCardPickButtonIcon::before {
                content: "\F0412";
                font-family: "md";
              }
            }

            .MediaCardButtonContainer:hover {
              .MediaCardPlayButtonText,
              .MediaCardPlayButtonIcon,
              .MediaCardPickButtonIcon {
                opacity: 0.7;
              }
            }
          }

          .SettingsCard {
            min-height: 200px;
            margin: 12px;
            display: flex;
            flex-direction: column;

            animation: fadeIn 0.25s ease-out;

            box-shadow:
              0 0 1px rgba(0, 0, 0, 0.12),
              0 1px 1px rgba(0, 0, 0, 0.24);

            .titleWrapper {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 50%;
              padding: 0 24px;
              color: rgba(0, 0, 0, 0.4);
              background-color: rgba(255, 255, 255, 0.2);

              .titleIcon {
                font-size: 30px;
                font-family: "md";
              }

              .settingIcon::before {
                content: "\F0493";
                font-family: "md";
              }

              .title {
                font-weight: bold;
                font-size: 20px;
                margin-left: 22px;
              }
            }

            .actionWrapper {
              background-color: rgba(255, 255, 255, 0.5);
              height: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;

              .action {
                color: rgba(0, 0, 0, 0.75);
                transition: all 0.5s ease-in-out;
              }

              .textAction {
                font-weight: bold;
                font-size: 16px;
              }

              .buttonAction::before {
                font-size: 48px;
                content: "\F0140";
                font-family: "md";
              }
            }

            .actionWrapper:hover {
              .action {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
}

.IIROSE_MEDIA_CONTAINER.ShowIIROSE_MEDIA_CONTAINER {
  transform: translateX(0);
  /* 显示时变为 1 */
}

.fullBoxFixed.hidemainHolder {
  transform: translateX(-100%);
  transform-origin: left;
}

.IIROSE_MEDIASelectHolder {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;

  .IIROSE_MEDIASelectHolderWrapper {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.75);
    width: 100%;
    max-width: 700px;

    .IIROSE_MEDIASelectHolderItemWrapper {
      display: flex;
      cursor: pointer;
      font-size: 24px;
      padding: 32px 48px 32px 124px;
      transition: all 0.5s ease-in-out;
      text-align: center;
      position: relative;

      .IIROSE_MEDIASelectHolderItemLogo {
        font-size: 28px;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        position: absolute;
      }

      #sequence::before {
        content: "\F04BB";
        font-family: "md";
      }

      #random::before {
        content: "\F04BA";
        font-family: "md";
      }
    }

    .IIROSE_MEDIASelectHolderItemWrapper:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.IIROSE_MEDIAInput {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  top: 0;
  left: 0;
  bottom: 0;

  .inputBoxWrapper {
    margin: 12px;
    box-shadow:
      0 0 1px rgba(0, 0, 0, 0.12),
      0 1px 1px rgba(0, 0, 0, 0.24);
    max-width: 568px;
    width: 100%;

    .inputBoxTitleWrapper {
      display: flex;
      align-items: center;
      height: 40px;
      background-color: #707abf;
      padding: 0 64px 0 24px;
      color: #fff;
      opacity: 0.7;

      .inputBoxTitleLogo {
        font-size: 26px;
      }

      .inputBoxTitleLogo::before {
        content: "\F060E";
        font-family: "md";
      }

      .inputBoxTitle {
        font-size: 16px;
        margin-left: 24px;
      }
    }

    .inputArea {
      .inputPlace {
        width: 100%;
        height: 240px;
        padding: 24px;
        padding-bottom: 190px;
        font-weight: bold;
        font-size: 16px;
        line-height: 26px;
        color: rgba(0, 0, 0, 0.75);
        background-color: rgba(240, 240, 240, 0.8);
      }

      /* 使用webkit内核的浏览器 */
      ::placeholder {
        color: rgba(0, 0, 0, 0.5);
      }
    }

    .IIROSE_MEDIA_ButtonWrapper {
      display: flex;
      align-items: center;
      height: 40px;

      .IIROSE_MEDIA_ButtonItemWrapper {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0 24px;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease-in-out;
        opacity: 0.8;
        justify-content: center;

        div {
          transition: all 0.5s ease-in-out;
        }

        .IIROSE_MEDIA_cancelIcon {
          font-size: 24px;
        }

        .IIROSE_MEDIA_cancelIcon::before {
          content: "\F073A";
          font-family: "md";
        }

        .IIROSE_MEDIA_confirmIcon {
          font-size: 24px;
        }

        .IIROSE_MEDIA_confirmIcon::before {
          content: "\F012C";
          font-family: "md";
        }

        .IIROSE_MEDIA_Button {
          margin-left: 22px;
        }
      }

      .IIROSE_MEDIA_ButtonItemWrapper:hover {
        opacity: 0.7;

        div {
          opacity: 0.7;
        }
      }

      #IIROSE_MEDIA_cancelButtonWrapper {
        background-color: #fff;
        color: #707abf;
      }

      #IIROSE_MEDIA_confirmButtonWrapper {
        background-color: #707abf;
        color: #fff;
      }
    }
  }
}

#syncHolder {
  #syncHolderOutside {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
  }
}

@media (max-width: 660px) {
  .NavBarTitle {
    display: none !important;
  }

  .MediaCardContainer {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
  }

  .inputWrapper {
    max-width: 250px !important;
  }
}

@media (max-width: 980px) {
  .MediaCard {
    max-height: 100% !important;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes expandHeight {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
