.iirose-media-web-dolby::before {
    content: "\F06B3";
}

.iirose-media-web-hdbox::before {
    content: "\F0878";
}

.iirose-media-web-4kbox::before {
    content: "\F083E";
}

.iirose-media-web-grain::before {
    content: "\F0D7C";
}

.iirose-media-web-play::before {
    content: "\F158F";
}

.iirose-media-web-video::before {
    content: "\F0567";
}

.iirose-media-web-live::before {
    content: "\F0ED2";
}

.iirose-media-web-time::before {
    content: "\F144E";
}

.iirose-media-web-account::before {
    content: "\F0009";
}

.iirose-media-web-music::before {
    content: "\F075A";
}

.iirose-media-web-musicNote::before {
    content: "\F0387";
}

.iirose-media-web-musicNotePlus::before {
    content: "\F0DDE";
}

.iirose-media-web-surroundSound::before {
    content: "\F07F3";
}

.iirose-media-web-mixed::before {
    content: "\F066A";
}

.iirose-media-web-tech::before {
    content: "\F1323";
}
